$primary: #66bdb7;
$dark: #010101;
$light: white;

@font-face {
	font-family: 'gothic';
	src: url('/fonts/Didact_Gothic/DidactGothic-Regular.ttf') format('truetype');
}

body {
	font-family: 'gothic';
	overflow-x: hidden;
}

header {
	height: 85vh;
}

#header-text {
	width: 60%;
}

#intro {
	z-index: 30;
}

#title-image {
	width: 120%;
	height: 120%;
	object-fit: cover;
	object-position: center;
	z-index: 2;
}

.svg-curve path {
	fill: $dark;
}

#svg-header {
	margin-top: -1px;
}

#about {
	margin-top: 30px;
	z-index: 10;
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0)
	);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 20px;
	width: 80%;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); /* softer, more spread shadow */
	padding: 3rem 2rem;
	transition: all 0.3s ease;
}

#skills {
	z-index: 10;
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0)
	);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 20px;
	width: 80%;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); /* softer, more spread shadow */
	padding: 3rem 2rem;
	transition: all 0.3s ease;
}

#works {
	padding-bottom: 95px;
	z-index: 10;
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0)
	);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	border-radius: 20px;
	width: 80%;
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); /* softer, more spread shadow */
	padding-top: 2rem;
	padding-bottom: 2rem;
	transition: all 0.3s ease;
}

.slider-container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

.slider-container .slider {
	position: relative;
	width: 100%;
	overflow: visible;
}

.slider-container .slider-track {
	display: flex;
	transition: transform 0.5s ease-in-out;
	scroll-behavior: smooth;
}

.slider-item {
	background: rgba(200, 200, 200, 0.25);
	backdrop-filter: blur(18px);
	-webkit-backdrop-filter: blur(18px);
	min-width: 23%;
	box-sizing: border-box;
	border-radius: 1rem;
	overflow: hidden;
	margin-left: 1%;
	margin-right: 1%;
	transition: transform 0.5s ease-in-out, z-index 1s;
	transform-origin: center;
	position: relative;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	z-index: 0;
}

.card-img-top {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	object-fit: cover;
}

.main-content {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

/* Shared base styling for both ribbons */
.c64-rainbow-lines {
	position: absolute;
	pointer-events: none;
	z-index: 0;
	width: 100%;
	height: 200px;
}

.c64-lines {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 6px;
	transform: rotate(-45deg);
	filter: blur(1.5px);
}

/* Line colors */
.line {
	width: 100%;
	height: 25px;
	border-radius: 1rem;
}

.red {
	background: #ff3c3c;
	width: 105%;
}
.orange {
	background: #ff9900;
	width: 106.5%;
}
.yellow {
	background: #ffee00;
	width: 108%;
}
.green {
	background: #33cc33;
	width: 109.5%;
}
.light-blue {
	background: #66ccff;
	width: 111%;
}

/* Top Left Ribbon */
.c64-rainbow-lines.top-left {
	top: 47%;
	left: 0%;
	transform: translate(-50%, -50%);
}

/* Bottom Right Ribbon */
.c64-rainbow-lines.bottom-right {
	bottom: 50%;
	right: 0%;
	transform: translate(50%, 50%) rotate(180deg);
}

// Zoom Effect
@media (hover: hover) and (pointer: fine) {
	.slider-container .slider-item:hover {
		transform: scale(1.4);
		z-index: 10;
	}

	#work1:hover {
		transform: scale(1.4) translateX(60px);
		z-index: 10;
	}

	#work4:hover {
		transform: scale(1.4) translateX(-60px);
		z-index: 10;
	}
}

.slider-container .prev,
.slider-container .next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border: none;
	border-radius: 10px;
	background: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 30px;
	z-index: 100;
	height: 100%;
	color: $light;
}

.slider-container .prev {
	left: 10px;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.slider-container .next {
	right: 10px;
	text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.8);
}

footer {
	margin-top: -2px;
}

// Animations -------------------------------------------------------

// Move Right
@keyframes MoveRight {
	from {
		transform: translateX(-1500px);
	}

	to {
		transform: translateX(75px);
	}
}

@-webkit-keyframes MoveRight {
	from {
		transform: translateX(-1500px);
	}

	to {
		transform: translateX(75px);
	}
}

.MoveRight {
	animation-name: MoveRight;
	-webkit-animation-name: MoveRight;
	animation-duration: 0.75s;
	-webkit-animation-duration: 0.75s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

// Move Left
@keyframes MoveLeft {
	from {
		transform: translateX(1500px);
	}

	to {
		transform: translateX(-75px);
	}
}

@-webkit-keyframes MoveLeft {
	from {
		transform: translateX(1500px);
	}

	to {
		transform: translateX(-75px);
	}
}

.MoveLeft {
	animation-name: MoveLeft;
	-webkit-animation-name: MoveLeft;
	animation-duration: 0.75s;
	-webkit-animation-duration: 0.75s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

// Original Position Right
@keyframes OriginPosRight {
	from {
		transform: translateX(75px);
	}

	to {
		transform: translateX(0px);
	}
}

@-webkit-keyframes OriginPosRight {
	from {
		transform: translateX(75px);
	}

	to {
		transform: translateX(0px);
	}
}

.OriginPosRight {
	animation-name: OriginPosRight;
	-webkit-animation-name: OriginPosRight;
	animation-duration: 0.25s;
	-webkit-animation-duration: 0.25s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

// Original Position Left
@keyframes OriginPosLeft {
	from {
		transform: translateX(-75px);
	}

	to {
		transform: translateX(0px);
	}
}

@-webkit-keyframes OriginPosLeft {
	from {
		transform: translateX(-75px);
	}

	to {
		transform: translateX(0px);
	}
}

.OriginPosLeft {
	animation-name: OriginPosLeft;
	-webkit-animation-name: OriginPosLeft;
	animation-duration: 0.25s;
	-webkit-animation-duration: 0.25s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

// Vibrating Effect
@keyframes vibrate {
	0% {
		transform: translate(0px, 0px);
	}
	10% {
		transform: translate(-4px, 3px);
	}
	20% {
		transform: translate(3px, -4px);
	}
	30% {
		transform: translate(-3px, 2px);
	}
	40% {
		transform: translate(2px, -2px);
	}
	50% {
		transform: translate(-2px, 1px);
	}
	60% {
		transform: translate(1px, -1px);
	}
	70% {
		transform: translate(-1px, 0.5px);
	}
	80% {
		transform: translate(0.5px, -0.5px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

.vibrate {
	animation-name: vibrate;
	-webkit-animation-name: vibrate;
	animation-duration: 0.75s;
	-webkit-animation-duration: 0.75s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
}

@keyframes vibrateReverse {
	0% {
		transform: translate(0px, 0px);
	}
	10% {
		transform: translate(4px, -3px);
	}
	20% {
		transform: translate(-3px, 4px);
	}
	30% {
		transform: translate(3px, -2px);
	}
	40% {
		transform: translate(-2px, 2px);
	}
	50% {
		transform: translate(2px, -1px);
	}
	60% {
		transform: translate(-1px, 1px);
	}
	70% {
		transform: translate(1px, -0.5px);
	}
	80% {
		transform: translate(-0.5px, 0.5px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

.vibrateReverse {
	animation-name: vibrateReverse;
	-webkit-animation-name: vibrateReverse;
	animation-duration: 0.75s;
	-webkit-animation-duration: 0.75s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
}

// Mobile Styles ---------------------------------------------------
@media (max-width: 768px) {
	#header-text {
		width: 100%;
		text-align: center;
	}

	#intro-inner {
		justify-content: center;
	}

	#title-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		z-index: 2;
	}

	.slider-container .slider-item {
		min-width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		scroll-snap-align: center;
	}

	.slider-wrapper {
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
	}

	.slider-track {
		scroll-snap-align: center;
		margin-bottom: 15px;
	}

	.prev {
		display: none;
	}

	.next {
		display: none;
	}

	.slider-item.ghost {
		min-width: 0.1%;
		margin: 0;
		pointer-events: none;
		background: transparent;
		box-shadow: none;
		scroll-snap-align: none;
	}
}

@media (max-width: 375px) {
	#svg-header {
		margin-top: -11px;
	}
}

@media (min-width: 376px) and (max-width: 425px) {
	#svg-header {
		margin-top: -7px;
	}

	#intro-title {
		min-height: 6.5rem;
	}
}

@media (min-width: 426px) and (max-width: 768px) {
	#title-image {
		width: 90%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		z-index: 2;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	#title-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		z-index: 2;
	}

	#svg-header {
		margin-top: 0px;
	}

	#header-text {
		width: 100%;
	}

	#intro-title {
		text-align: start;
	}
}

@media (min-width: 1025px) and (max-width: 1440px) {
	#title-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		z-index: 2;
	}

	#header-text {
		width: 100%;
	}
}
